{
  "presets": ["next/babel"],
  "plugins": [
    [
      "inline-react-svg",
      {
        "svgo": false
      }
    ]
  ],
  "overrides": [
    {
      "test": "./src/graphql.ts",
      "compact": true
    }
  ]
}
