{
  "root": true,
  "extends": ["artwithaliens"],
  "plugins": ["@next/next"],
  "globals": {
    "paypal": true
  },
  "settings": {
    "linkComponents": ["Button", "IconButton", "Link"]
  },
  "rules": {
    "import/no-cycle": "off",
    "unicorn/filename-case": "off",
    "@next/next/no-css-tags": "error",
    "@next/next/no-sync-scripts": "error"
  }
}
